<!DOCTYPE html>
<html lang="en">

<header>
  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">

          </a>
          <a class="brand" href="/">GetItDone</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href= "/teammates">Teammates</a></li>
              <li><a href="/tasks">Tasks</a></li>
              <li><a href="/documents">Documents</a></li>

            </ul>
            <div class="navbar-text pull-right">
              <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
              <% else %>
                  <%= link_to "Register", new_user_registration_path, :class => 'navbar-link'  %> |
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
              <% end %>
            </div>

          </div><!-- /.nav-collapse -->

        </div><!-- /.container -->


      </div>
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
  </div>
</header>
<div class="row offset1">

  <h1>Welcome!</h1>
  <br/>
  <div class="btn-toolbar">
    <% if user_signed_in? %>
        <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-info"%>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-inverse" %>
    <% else %>
        <%= link_to "Register", new_user_registration_path,:class => "btn btn-primary"%>
        <%= link_to "Login", new_user_session_path, :class => "btn btn-success" %>
        <% end %>
  </div>
</div>
</html>

