<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'home/header' %>
<%= render :partial => 'home/help' %>
<div class="row offset1">

  <h1>Welcome!</h1>
  <br/>
  <div class="btn-toolbar">
    <% if user_signed_in? %>
        <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-info"%>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-inverse" %>
        <button class="btn btn-warning" type="button" onclick="displayhelp('use_dialog',this)">Help!</button>
    <% else %>
        <%= link_to "Register", new_user_registration_path,:class => "btn btn-primary"%>
        <%= link_to "Login", new_user_session_path, :class => "btn btn-success" %>
        <button class="btn btn-warning"  type="button" onclick="displayhelp('logon_dialog',this)">Help!</button>
    <% end %>
  </div>

</div>


</html>

