<!DOCTYPE html>
<html lang="en">
<%= render :partial => 'home/header' %>
<div class="row offset1">

  <h1>Welcome!</h1>
  <br/>
  <div class="btn-toolbar">
    <% if user_signed_in? %>
        <%= link_to 'Edit Profile', edit_user_registration_path, :class => "btn btn-info"%>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-inverse" %>
        <button class="btn btn-warning" type="button" onclick="displayhelp('use_text',this)">Help!</button>
    <% else %>
        <%= link_to "Register", new_user_registration_path,:class => "btn btn-primary"%>
        <%= link_to "Login", new_user_session_path, :class => "btn btn-success" %>
        <button class="btn btn-warning"  type="button" onclick="displayhelp('logon_text',this)">Help!</button>
    <% end %>
  </div>
  <div id="logon_text" class="hidden">
    If you do not already have an account with GetItDone:  <br>
        Click register to create a logon email and password  <br>
    If you already registered: <br>
        click Login and proceed to Teammates, Tasks, and Documents to begin working on your projects!'</div>
  <div id="use_text" class="hidden">
    Use the navigation bar to access project information  <br>
        - Teammates - view / edit teammates for your project <br>
        - Tasks - view / add tasks for your project, as well as upcoming due dates  <br>
        - Documents - view / add associated documents</div>
  <script>
    $('#logon_text').hide();
    $('#use_text').hide();
    function displayhelp(text_id, button){
      $('#' + text_id).fadeIn('slow');
        $('#' + text_id).delay(3000);
      $('#' + text_id).fadeOut(2000);
      };
  </script>
</div>


</html>

