<%= render :partial => 'home/header' %>
<%= render :partial => 'home/help' %>
<%= form_for @document, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @document.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

          <ul>
            <% @document.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>

    <div class="control-group">
      <%= f.label 'Document Link', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :docurl, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :project, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select(:project_id, current_user.projects , :id, :name) %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                documents_path, :class => 'btn' %>
  </div>
<% end %>
